/* main stylesheet for porchwire project */

@import "node_modules/bootstrap/scss/bootstrap";

@import './_variables';
@import './_mixins';

/* BS4 Overrides */
$body-bg: $gray-800;
$body-color: $red;
 
/* Base responsive typography */
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.2rem;
  }
}

#porchwire {
    margin: 1.5rem;
}

#chat-input {
    width: 90%;
    margin: 15px auto;
}

#send-button {
  width: 75%;
  margin: auto;
}

#whos-online, #conversation {
    height: 150px;
    overflow-y: scroll;
    padding: 0;
    font-size: 0.85rem;
}

#conversation li {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

/* Initial display rules for 'connect me as' and 'connected as' */
#connected-as-peerId,
#connect-to-wrapper {
    display: none;
}

#edit-peerId {
    display: block;
}

.card {
  margin-bottom: 15px;
}

#start-record, #stop-record {
    border-radius: 20px;
    padding: 10px;
}
