/* main stylesheet for porchwire project */

@import "node_modules/bootstrap/scss/bootstrap";

@import './variables';
@import './mixins';

/* BS4 Overrides */
$body-bg: $gray-800;
$body-color: $red;
 
/* Base responsive typography */
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.2rem;
  }
}

#porchwire {
    margin-bottom: 40px;
}
#chat-input {
    margin-bottom: 15px;
}

#user-edit {
    display: none;
}

#whos-online, #conversation {
    height: 200px;
    overflow-y: scroll;
    padding: 0;
}

#conversation p {
  margin: 0;
  padding: 1px;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

