<div class="row">
    <div class="col">
        <div id="connected-as-peerId">
        
            <p class="d-inline">
                <strong>Connected as <span id="ngPeer">{{ peer.peerId }}</span></strong>
            </p>

            <button id="change-peerId-link" type="button" class="btn btn-sm btn-link">Change</button>
        </div>

        <div id="edit-peerId">
                
            <label>Name
                <input [(ngModel)]="peer.peerId" class="form-control" id="user"
                placeholder="{{ peer.peerId }}" value="{{ peer.peerId }}">
            </label>

            <button id="init-peer-link" type="button" class="btn btn-info btn-sm">Connect</button>
        </div>

        <div id="connect-to-wrapper">
            <label>Jam with...
                <input class="form-control" id="connect-to" value="">
            </label>

            <button type="button" id="connect-jam" class="btn btn-info btn-sm">Jam</button>
            <hr>
        </div>
    </div> <!-- ./col -->

    <div class="col">
        <div class="card">
            <div class="card-header">Who's Online</div>
            <ul id="whos-online" class="list-group list-group-flush"></ul>
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row" id="audio-wrapper">
    <p>Audio</p>
    <audio controls id="audio" src="" type="audio/ogg; codecs=opus"></audio>
    <button type="button" id="start-record">Record</button>
    <button type="button" id="stop-record">Stop</button>

    <a href="" id="download-recording" download="true">Download Recording</a>

    <audio src="" id="play-recording"></audio>
</div>

<div class="row">
    <div class="col">
        <textarea class="form-control" id="chat-input"></textarea>
        <button type="button" id="send-button" class="btn btn-info btn-sm">Send</button>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">Messages</div>
            <ul id="conversation" class="list-group list-group-flush"></ul>
        </div>
    </div> <!-- ./col --> 
</div> <!-- ./row -->
