<div class="row">

    <!-- Left Col -->
    <div class="col-7">

        <!-- Connected As -->
        <div id="connected-as-peerId" class="d-none">

            <p class="d-inline">
                <strong>Connected as <span id="ngPeer">{{ peer.peerId }}</span></strong>
            </p>

            <button id="change-peerId-link" type="button" class="btn btn-sm btn-link">Change</button>
        </div>

        <!-- Name Input -->
        <div id="edit-peerId" class="d-block">
                
            <label>Name
                <input [(ngModel)]="peer.peerId" class="form-control" id="user"
                placeholder="{{ peer.peerId }}" value="{{ peer.peerId }}">
            </label>

            <button id="init-peer-link" type="button" class="btn btn-info btn-sm">Connect</button>
        </div>

        <!-- New Jam -->
        <div id="connect-to-wrapper" class="d-none">
            <label>Jam with...
                <input class="form-control" id="connect-to" value="">
            </label>

            <button type="button" id="connect-jam" class="btn btn-info btn-sm">Jam</button>
            <hr>
        </div>

        <div class="d-none row" id="audio-wrapper">

            <p class="d-block">Audio Stream</p>
            <audio controls class="d-block" id="audio" src="" type="audio/ogg; codecs=opus"></audio>

             <!-- Audio Control Panel UI -->
            <div class="row">
                <div class="col-xs-6">
                    <button type="button" id="disable-local-meter-button" class="btn btn-secondary btn-sm">X</button>
                    <button type="button" id="enable-local-meter-button" class="btn btn-secondary btn-sm">^^^</button>
                    <canvas id="local-stream-meter" height="auto" width="auto"></canvas>     
                </div>
                
                <div class="col-xs-6">
                    <button type="button" id="disable-remote-meter-button" class="btn btn-secondary btn-sm">X</button>
                    <button type="button" id="enable-remote-meter-button" class="btn btn-secondary btn-sm">^^^</button>
                    <canvas id="remote-stream-meter" height="auto" width="auto"></canvas>
                </div>
            </div> <!-- ./row -->
            <hr>

            <button type="button" id="start-record" class="btn-outline-danger">Record</button>
            <button disabled type="button" id="stop-record" class="btn-outline-secondary">Stop</button>
            <hr>

        </div>

        <!-- Recordings get appended here -->
        <div id="recording-session-files" class="d-none"></div>

    </div> <!-- ./col -->

    <!-- Right Col -->
    <div class="col-5">

        <!-- Whos Online -->
        <div class="card">
            <div class="card-header">Who's Online</div>
            <ul id="whos-online" class="list-group list-group-flush"></ul>
        </div>

        <!-- Messages -->
        <div class="card">
            <div class="card-header">Messages</div>

            <ul class="d-block" id="conversation" class="list-group list-group-flush"></ul>
            <hr>

            <textarea class="d-block form-control" id="chat-input" placeholder=" ... "></textarea>
            <button type="button" id="send-button" class="btn btn-info btn-sm d-block">Send</button>
        </div>

    </div> <!-- ./col -->
</div> <!-- ./row -->
