<div class="row">
    <div class="col">
        <div id="connected-as-peerId">
            <p class="d-inline"><strong>Connected as {{ peer.peerId }}</strong></p>
            <button id="change-peerId-link" type="button" class="btn btn-sm btn-link">Change</button>
        </div>

        <div id="edit-peerId">
                <button id="init-peer-link" type="button" class="d-inline btn btn-link">Connect as:</button>

                <input [(ngModel)]="peer.peerId" class="form-control" id="user"
                placeholder="{{ peer.peerId }}" value="{{ peer.peerId }}">
        </div>

        <div id="connect-to-wrapper">
            <label>Start jam with:
                <input class="form-control" id="connect-to" value="">
            </label>

            <button type="button" id="connect-jam" class="btn btn-success">Jam</button>
            <hr>
        </div>
    </div> <!-- ./col -->

    <div class="col">
        <div class="card">
            <div class="card-header">Who's Online</div>
            <ul id="whos-online" class="list-group list-group-flush"></ul>
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row" id="audio-wrapper">
    <p>Audio</p>
    <audio controls id="audio" src="" type="audio/ogg; codecs=opus"></audio>
</div>

<div class="row">
    <div class="col">
        <textarea class="form-control" id="chat-input"></textarea>
        <button type="button" id="send-button" class="btn btn-primary">Send</button>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">Messages</div>
            <div id="conversation"></div>
        </div>
    </div> <!-- ./col --> 
</div> <!-- ./row -->
